[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PhyPiGUI
Comment=GUI for PhyPiDAQ
Icon=/home/pi/git/PhyPiDAQ/phypigui/python/resources/images/PhiPi_icon.png
Exec=lxterminal -t "PhyPiGUI" -e /home/pi/git/PhyPiDAQ/run_phypigui.py
Terminal=false