[Desktop Entry]
Type=Application
Name=PhyPiGUI
Comment=GUI for PhyPiDAQ
Comment[de]=GBO für PhyPiDAQ
Icon=/home/pi/git/PhyPiDAQ/phypigui/python/resources/images/PhiPi_icon.png
Exec=/home/pi/git/PhyPiDAQ/run_phypigui.py
Path=/home/pi/git/PhyPiDAQ
Terminal=False
